body{
    margin:0;
    padding:0;
    background-color: rgb(245, 229, 157);
}


.container{
    height: 800px;
    width: 350px;
    background: url('../img/check.jpg')
    no-repeat center center/cover;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-30%,-30%);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.container a{
    text-decoration:none;
    color: teal;
    font-weight:bold;
    font-size:22px;
}


.field{
    color:rgb(85, 85, 243);
    padding:10px;
    font-size:18px;
    font-weight:bold;
}

.container input[type="text"], input[type="password"], input[type="date"], input[type="number"]{
    border: none;
      border-bottom: 1px solid rgb(44, 77, 2);
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(53, 112, 5);
      font-size: 16px;
}

.submit{
    border: none;
      outline: none;
      height: 40px;
      background: rgb(214, 15, 15);
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
      padding:10px;
      margin:50px;
}

.status{
    font-weight:bold;
    padding:10px;
    border-radius:50px;
    margin-top :5px;
    margin-bottom:15px;
}
